*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.Logo-Image{
    object-fit:fill;
}
.background-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 20%;
}

.Logo p, .Buttons button{
    color: white;
    font-size: 20px;
}
.Buttons, .Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    gap: 12px;
}
.Logo a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    height: 88px;
    align-items: center;
    font-size: 24px;
}

.request{
    background-color: #191A1B;
    border-radius: 12px;
    pointer-events: none;
    border: solid 1px white;
    height: 50px;
    width: 230px;
}

.sign-in{
    background-color: #4C5FD5;
    border-radius: 12px;
    border: none;
    pointer-events: none;
    height: 50px; 
    width: 150px;
}